.container{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
 
}
form{
    border: solid rgb(164, 194, 230) ;
    width: 400px;
    height: 32rem;
    border-radius: 10px;
}
    .form{
        display: flex;
        flex-direction: column;
          justify-content: center;
          align-items: center;
         height: 25rem;
    }
         input{
            width: 300px;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: rgb(229, 242, 245);
         }
